<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>sridhar@dreamfactory.com</emailSenderAddress>
    <emailSenderName>My Test Community</emailSenderName>
    <enableApexCDNCaching>true</enableApexCDNCaching>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableExperienceBundleBasedSnaOverrideEnabled>false</enableExperienceBundleBasedSnaOverrideEnabled>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableImageOptimizationCDN>true</enableImageOptimizationCDN>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableLWRExperienceConnectedApp>false</enableLWRExperienceConnectedApp>
    <enableMemberVisibility>true</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <headlessForgotPasswordTemplate>unfiled$public/CommunityHeadlessForgotPasswordTemplate</headlessForgotPasswordTemplate>
    <networkMemberGroups>
        <permissionSet>Set_User_Perms</permissionSet>
        <profile>admin</profile>
        <profile>custom: profile filler</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>My_Test_Community1</picassoSite>
    <recommendationAudience>
        <recommendationAudienceDetails>
            <audienceCriteriaType>CustomList</audienceCriteriaType>
            <setupName>Recommendation</setupName>
        </recommendationAudienceDetails>
    </recommendationAudience>
    <recommendationDefinition>
        <recommendationDefinitionDetails>
            <actionUrl>https://channel.metazoa.com</actionUrl>
            <description>This is a desc for test channel title</description>
            <linkText>Channel Button Text</linkText>
            <scheduledRecommendations>
                <scheduledRecommendationDetails>
                    <channel>CustomChannel1</channel>
                    <enabled>true</enabled>
                    <rank>1</rank>
                    <recommendationAudience>000000000000000</recommendationAudience>
                </scheduledRecommendationDetails>
            </scheduledRecommendations>
            <setupName>Metazoa Channel</setupName>
            <title>Test Channel Title</title>
        </recommendationDefinitionDetails>
        <recommendationDefinitionDetails>
            <actionUrl>https://www.metazoa.com</actionUrl>
            <description>Recommendation</description>
            <linkText>Recommendation</linkText>
            <scheduledRecommendations>
                <scheduledRecommendationDetails>
                    <channel>DefaultChannel</channel>
                    <enabled>true</enabled>
                    <rank>1</rank>
                    <recommendationAudience>000000000000000</recommendationAudience>
                </scheduledRecommendationDetails>
            </scheduledRecommendations>
            <setupName>Recommendation</setupName>
            <title>Recommendation</title>
        </recommendationDefinitionDetails>
    </recommendationDefinition>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>My_Test_Community</site>
    <siteArchiveStatus>NotArchived</siteArchiveStatus>
    <status>Live</status>
    <tabs>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>mytestcommunity</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
